/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body::after {
  content: "";
  background: url("bg.jpg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

nav {
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#goodie-container{
  width: 28%;
}
#goodies {
  margin: 2em;
}

/*
/////Classes //////
*/

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.goodie {
  margin: 1em;
}

.goodie img {
  height: 100%;
  width: 100%;
  transition: box-shadow 0.5s ease;
  border-radius: 3px;
}

.goodie img:hover {
  box-shadow: 2px 2px 2px #5a5a5a;
}

.container {
  height: 100%;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: #c0c0c0;
}

.nav-link:hover {
  color: grey
